{%extends "global/site_header.html"%}
{%block body%}
	<title>Login History</title>
<body>	
	{%if entries|length>0%}
	<div class="container">
		<table class="table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>IP Address</th>
				<th>Login Time</th>
				<th>Logout Time</th>
				<th style="text-align:center;">Session Status</th>
				<th></th>
			</tr>
		</thead>
	{%set i=0%}{%for entry in entries%}
	<tr>
		<td>{{unames[i]}}</td>
		<td>{{entry[0]}}</td>
		<td>{{entry[3]}}</td>
		<td>{{entry[4]}}</td>
		{%if entry[1]==1%}{%set color='green'%}{%else%}{%set color='red'%}
		{%endif%}
		<td style="text-align:center;"><a class="fa fa-circle" style="color:{{color}};"></a></td>
		<td style="text-align:center;"><a href="{{url_for('users',id_no=entry[2])}}" class="btn btn-md btn-primary">View Profile</a></td>
		{%set i=i+1%}
	</tr>
	{%endfor%}
	</table></div>{%else%}<h1>No usage_history</h1>{%endif%}
</body>
</html>
{%endblock%}