{%extends "buysell/index.html"%}

{% block body %}
<title>E-Store</title>  
<body class="animated">

  <div id="cl-wrapper">
   <!-- <a href="/logout">Logout</a> -->
   <div class="container-fluid" id="pcont">
     <div class="cl-mcont">
      <h2 style="text-align:center;">The e-Store</h2>
      <form action="filter" method="POST">
      <select class="form-control pull-right" style="width:300px;margin-top:-40px;" name="filter" onchange="this.form.submit()">
        <option>Select one</option>
        {%for entry in filter_cat%}
        <option value="{{entry[0]}}">{{entry[1]}}</option>
        {%endfor%}
      </select>
      </form>
      <div class="row">
        {%set i=0%}
        {%set color=''%}

        {%for entry in entries%}
        <div class="col-md-3">
          {%if category[i][0]=='Furniture'%}{%set color='green'%}
          {%elif category[i][0]=='Electronics'%}{%set color='prusia'%}
          {%elif category[i][0]=='Transport'%}{%set color='blue'%}{%endif%}
          <div class="fd-tile tile-{{color}} weather">
            <img src="{{ url_for('static',filename='images/anonymous.png')}}" height="100" width="100" alt="">
            <h4>Item</h4>
            <h3>{{entry[1]}}</h3>
            <h4>Uploaded by {{uploader[i][0]}}</h4>
            <div class="row days">
              <div class="col-xs-4 day">
                <h6>Category</h6>
                <h4>{{category[i][0]}}</h4>
              </div>
              <div class="col-xs-4 day">
                <h6>MRP</h6>
                <h4><span class="fa fa-rupee"></span> {{entry[3]}}</h4>
              </div>
              <div class="col-xs-4 day">
                <h6>Deal Price</h6>
                <h4><span class="fa fa-rupee"></span> {{entry[4]}}</h4>
              </div>
            </div>
          </div>
        </div>
        {%set i=i+1%}
        {% endfor %}

      </div>
    </div>
  </div>
</div> 

<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jPushMenu.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.nanoscroller.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/core.js') }}" type="text/javascript"></script>

<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

</body>
</html>
{% endblock %}
<!-- Localized -->