{% extends "shout/layout.html" %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fonts/font-awesome-4/css/font-awesome.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
{% block body %}
<div class="cl-mcont">
<div class="row">
<div class="col-sm-12">
        <div class="block-flat profile-info">
          <div class="row">
            <div class="col-sm-2">
              <div class="avatar">
                <img src="https://www.gravatar.com/avatar/{{gravatar}}?d=identicon&f=y" class="profile-avatar">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="personal">
                <h1 class="name">{{user[2]}}</h1>
                <p class="description">{{user[6]}}</p><p>
                <button class="btn btn-primary btn-flat btn-rad" data-modal="reply-ticket"><i class="fa fa-globe"></i>{{user[4]}} Year</button>
              </p></div>
            </div>
            <div class="col-sm-5">
              <table class="no-border no-strip skills">
                <tbody class="no-border-x no-border-y">
                  <tr>
                    <td style="width:45%;">Email</td>
                    <td>{{user[5]}}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>{{user[3]}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{user[6]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="tab-container">
          <ul class="nav nav-tabs wall">
            <li class="active"><a data-toggle="tab" href="#comments"><i class="fa fa-comments"></i></a></li>
            <li><a data-toggle="tab" href="#picture"><i class="fa fa-camera"></i></a></li>
            <li><a data-toggle="tab" href="#media"><i class="fa fa-share-square-o"></i></a></li>
          </ul>
          <div class="tab-content">
            <div id="comments" class="tab-pane active cont">
              <textarea class="form-control spacer-bottom-sm" placeholder="Post Something."></textarea>
              <button class="btn btn-primary" type="button">Share</button>
            </div>
            <div id="picture" class="tab-pane cont">
              <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 100%;">
                <div class="fileinput-new thumbnail" style="width: 100%; height: 150px;">
                  <h2>Drop Files Here</h2>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-primary btn-file pull-right"><span class="fileinput-new">Upload</span><span class="fileinput-exists">Change</span><input name="..." type="file"></span>
                  <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
            </div>
            <div id="media" class="tab-pane">
              <div class="input-group no-margin">
                <input class="form-control" placeholder="http://www.example.com" type="text">
                <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Share</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}